<div class="container d-flex justify-content-center align-items-center">
    <div class="users m-5">
        <button class="btn btn-dark" [routerLink]="'/admin-users'">Users</button>
    </div>
    <div class="books m-5">
        <button class="btn btn-dark" [routerLink]="'/admin-books'">Books</button>
    </div>
    <div class="authors m-5">
        <button class="btn btn-dark" [routerLink]="'/admin-authors'">Authors</button>
    </div>
    <div class="publishers m-5">
            <button class="btn btn-dark" [routerLink]="'/admin-publishers'">Publishers</button>
    </div>
    
</div>