<button (click)="getByGenre(0)">Genre1</button>
<button (click)="getByGenre(1)">Genre2</button>
<div class="search-container">
    <div class="row p-0 m-0">
        <div class="col-6 col-md-8"></div>
        <div class="col-6 col-md-4">
            <div class="search-container">
                <span>Search by name:</span>
                <input type="text" [(ngModel)]="searchText" (input)="searchBooks()" (ngModelChange)="searchBooks()">
            </div>
        </div>
    </div>
</div>

<div class="container-lg d-flex">
    <div class="book" [routerLink]="'books-detail/' + book.id" *ngFor="let book of books">
        <div class="img-wrapper">
            <img [src]="'assets/Images/' + book.image" alt="Book image">
        </div>
        <div class="name">
            <span>Name:</span>
            {{book.name}}
        </div>
        <div class="desc">
            <span>description:</span>
            {{book.description}}
        </div>
        <div class="genre">
            <span>genre:</span>
            {{getName(book.genre)}}
        </div>
        <div class="year">
            <span>Year of edition:</span>
            {{book.yearOfEdition}}
        </div>
        <div class="page-amount">
            <span>Page amount:</span>
            {{book.pageAmount}}
        </div>

        <div class="authors">
            <span>authors: </span>
            <span *ngFor="let author of book.authors">{{author.fullName}}</span>
        </div>
        <div class="publisher">
            <span>publisher:</span>
            {{ book.publisher ? book.publisher.name : 'book without publisher' }}
        </div>
    </div>
    {{errorMessage}}
</div>