.container-lg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.img-wrapper {
    max-width: 100px; 
    max-height: 100px;
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.book{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    border: 2px solid #000;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Додаємо тінь для більшого об'єму */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Плавність переходів */
}

.book:hover {
    transform: scale(1.05); /* Збільшення книги при наведенні */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Більша тінь при наведенні */
}

.book-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px; /* Відступ назви від іншого тексту */
}

.book-description {
    font-size: 16px;
    color: #666; /* Сірий колір для опису */
    padding: 0 20px; /* Поле для опису з обох боків */
    text-align: center; /* Вирівнювання тексту по центру */
}
