<div class="book">
    {{book.name}} <br>
    {{book.description}} <br>
    <img [src]="getSecureUrl('home/maksi/Studying/Eencyclopedia/Eencyclopedia.Backend/Eencyclopedia.API/Images/612aee5f-4be6-4de0-b9b5-be08264b0663.png')" alt="qwe">
    <div class="container">
        <div style="position:relative;padding-top:max(60%,324px);width:100%;height:0;"><iframe
            style="position:absolute;border:none;width:100%;height:100%;left:0;top:0;"
            [src]='safeUrl' seamless="seamless" scrolling="no" frameborder="0"
            allowtransparency="true" allowfullscreen="true"></iframe></div>
    </div>
    
</div>